<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiek.attendanceapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".ViewAttendancePerStudentActivity" />
        <activity android:name=".ViewAttendanceByFacultyActivity" />
        <activity android:name=".AddAttendanceActivity" />
        <activity android:name=".ViewFacultyActivity" />
        <activity android:name=".ViewStudentByBranchYear" />
        <activity android:name=".ViewStudentActivity" />
        <activity android:name=".AddFacultyActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/main" />

        <activity android:name=".AddStudentActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".AddAttandanceSessionActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>